@font-face {
    font-family: 'Yandex Sans Display';
    src: url('../fonts/YandexSansDisplay-Regular.eot');
    src: local('Yandex Sans Display Regular'), local('YandexSansDisplay-Regular'),
    url('../fonts/YandexSansDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/YandexSansDisplay-Regular.woff2') format('woff2'),
    url('../fonts/YandexSansDisplay-Regular.woff') format('woff'),
    url('../fonts/YandexSansDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

ul {
  padding-left: 20px;
}

img{
  width: 920px;
}

img.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto
}

table {
  border-collapse: collapse;
  margin: 75px auto;
  width: 745px;
}

li {
  line-height: 1.7;
}

.top-align {
  vertical-align: top;
}

.logo-font {
    font-family: 'Yandex Sans Display';
    font-size: 50px;
    transform: scale(.65,1.0);
    margin: 0 -200px;
}

.display-font-gray {
    font-family: 'Yandex Sans Display';
    color: #232321;
    margin: 0;
    padding: 0;
}

.display-font {
    font-family: 'Yandex Sans Display';
    margin: 0;
    padding: 0;
}

.red-first-letter {
  color: #c4241a;
}
